Addon for CS-Cart Multivendor, for theme "abt__unitheme2": Multi Wishlist.

Glossary:
- Media list, подборка: wishlist

Features:
- Добавление одного товара в подборку
- Добавление всех выбранных товаров в подборку, по умолчанию лимит: 20
- Возможность назвать подборку
- Страница списка подборок
- Сохранение в xlsx подборки на странице списка подборок
- Сохранение в xlsx подборки на странице одной подборки
- Возможность загрузки шаблона xlsx для подборки