/* Styles for mwl_xlsx addon */

.mwl_xlsx-export {
    display: inline-block;
}

.mwl_xlsx-export img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.ty-simple-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ty-simple-list__actions > a {
    margin-left: 5px;
}

